#sidebar {
	height: auto;
}

#sidebar .help_topic {
	padding: 15px;
}

#sidebar .help_topic h2 {
	font-size: 14px;
}

#text {
	height: auto;
	float: left;
	width: 559px;
	border-left: 1px solid #ACACAC;
}

#text p {
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 15px;
}

#text h2 {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
