#sidebar {
    float: left;
}

#sidebar .help_topic {
	padding: 15px;
}

#sidebar .help_topic h2 {
	font-size: 14px;
	padding-bottom: 5px;
}

#text {
    padding: 15px;
    margin-left: 300px;
    
	border-left: 1px solid #ACACAC;
}

#text p {
	padding-bottom: 15px;
}

#text h2 {
	padding-bottom: 5px;
}
