#content #sidebar #search {
	height: 350px;
}

#content #sidebar #search form label {
	display: block;
	padding-bottom: 3px;
}

#content #sidebar #search form input {
	font-size: 15px;
	font-family: inherit;
	width: 260px;
}

#content #sidebar #search form p.small {
	padding-top: 5px;
	font-size: 10px;
}

#search-results p,
#displayed-routes p {
  padding: 0;
}

#sidebar .stop,
#sidebar .route {
  clear: both;
  margin-top: 15px;
}

#sidebar .control {
  float: right;
  clear: right;
  padding: 0;
  padding-top: 2px;
  font-size: 9px;
  color: blue;
}

#sidebar #search .zoomToExtent {
    display: none;
}

#sidebar .result ul {
    padding: 0;
}

#sidebar a.control {
  text-decoration: underline;
}

#sidebar a.control:hover {
  text-decoration: none;
}

#sidebar .name {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

#sidebar .description {
  font-size: 11px;
}

#sidebar .meta {
  font-size: 11px;
  color: #444;
}

#content #sidebar #current_layers {
	height: 200px;
}

#current_layers p.header {
	padding: 5px;
	padding-top: 7px;
	padding-left: 15px;
	color: #444444;
	font-size: 12px;
	border-bottom: 1px solid #ACACAC;
	background-image: url('img/nav_background.png');
	background-repeat: repeat-x;
}

p.header a {
	text-decoration: none;
}

#current_layers p#no-routes-displayed-message {
    padding: 15px;
}

#content #map {
	width: 659px;
	height: 550px;
	float: right;
	background-color: #EFEFEF;
	border-left: 1px solid #ACACAC;
}

#content #map #popup {
    font-size: 11px;
}

#popup p,
#popup ul {
    padding: 0;

}

#popup p.header {
    font-size: 14px;
    font-weight: bold;
}

#popup .meta {
  color: #444;
}

#popup ul {
    padding-top: 5px;
}

#popup ul li.hasNotice {
    color: red;
}

#popup ul li.hasNotice a {
    color: red;
}

#popup ul.notices {
    padding-bottom: 5px;
}

#popup ul.notices li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
}

.error {
    color: red;
}
